$primary: #7711aa;
$secondary: #88cc44;

$footer-height: 42px;
$logo-height: $footer-height/3;

@import "../../node_modules/bootstrap/scss/bootstrap";

#main-content {
  margin-bottom: $footer-height + $grid-gutter-width/4;
}

.fixed-bottom {
    height: auto;
    line-height: $footer-height;
}

.logo {
    height: $logo-height;
}

h2 {
    color: $secondary;
}
